POSTGRES_URL=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
NEXT_PUBLIC_STRIPE_PUBLISHABLEKEY=
BASE_URL=http://localhost:3000
AUTH_SECRET=
RESEND_API_KEY=
RESEND_FROM_EMAIL=
AITUTOR_API_KEY=
WORKFLOW_ID=
WORKFLOW_ID_REAL_ESTATE_ANALYSIS=
WORKFLOW_ID_GOOGLE_ADS_ANALYSIS=
WORKFLOW_ID_RESUME_SCREENING=
